# Use this file to set environment variables for PostgreSQL connection
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB_NAME
# Default PostgreSQL Settings to use if not specified otherwise
POSTGRES_HOST=YOUR_POSTGRES_HOST
POSTGRES_PORT=5432